.buttons {
  display: flex;
  gap: 2rem;
  margin-bottom: 10px;
}
.button {
  width: 50px;
  height: 50px;
  background-color: #1976d2;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  &:hover {
    background: #1565c0;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  &.disabled {
    background-color: grey;
  }
}
